@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
    color: #333;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 20px;
  }

.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:10px;
    border-right: 2px solid #951f20; /* Solid vertical line on the left */
    padding-right: 10px; /* Spacing between the line and the text */
  }

.flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
  /* margin-bottom: 1px;  */

}

.flex-item1 {
  text-align: center;     /* Centers the text horizontally */
  padding: 20px 0px;      /* Adjust padding as needed */
  text-decoration: none;  /* Removes the underline from links */

  /* margin-bottom: 1px;  */

}

.education-list {
    display: flex;
    font-size: 20px;
    flex-direction: column; /* Aligns the education items in a column */
    justify-content: flex-start; /* Aligns items to the start of the flex direction */
    width: 70%; /* Adjust based on your layout needs */
    margin-bottom: 0;
    

    
}

  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: Georgia, sans-serif;
  }
  
  h2 {
    font-size: 30px;
    text-align: left;
    color:#951f20;
    font-family: "Montserrat", sans-serif;
  }
  
  .established {
    /* font-style: italic; */
    text-align:right;
  }

  .established1 {
    /* font-style: italic; */
    text-align:right;
    font-size: 20px;
    padding-bottom: 0.5%;
    font-family: "Montserrat", sans-serif;
  }

  p{
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  
  .menu {
   /* width: 80%;  */
    background-color: rgb(255, 255, 255);
    margin-left: 24%;
    margin-right: 10%;
    padding: 20px;
    max-width: 1200px;
  }

  .sidebar {
      overflow: hidden;
      background-color: white;

      position: fixed; /* Set the navbar to fixed position */
      top:50px;
      left: 50px; /* Position the navbar at the top of the page */
      width: 16%; /* Full width */
      height: 300px;          /* Height of the rectangle */
      border: 2px solid rgb(221, 219, 219); /* Thick solid green border */
      border-radius: 10px;    /* Radius of the corners */
      font-size: 20px;
    }
    




  .bold {
    font-weight: bold;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color: black;
    border-color: black;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
/*   h1, h2, p {
    font-family: 'Times New Roman', Times, serif;
  } */
  
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .year {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  

  a {
    text-decoration: none;
    color: #951f20;
  }
  
  a:visited {
    color: #951f20;
  }
  
  a:hover {
    text-decoration: underline;
    color: grey;
  }
  
  a:active {
    color: grey;
  }

  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  

  @media (max-width: 480px) {
    .menu {
      /* width: 80%;  */
       background-color: rgb(255, 255, 255);
       margin-left: 16%;
       margin-right: 5%;
       padding-left: 10px;
       max-width: 90%;
     }
   
     .sidebar {
         overflow: hidden;
         background-color: white;
   
         position: fixed; /* Set the navbar to fixed position */
         top:50px;
         left: 5px; /* Position the navbar at the top of the page */
         width: 16%; /* Full width */
         height: 30%;          /* Height of the rectangle */
         border: 2px solid rgb(221, 219, 219); /* Thick solid green border */
         border-radius: 10px;    /* Radius of the corners */
         font-size: 20px;
       }

       .flex-container1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center;  */
        margin-bottom: 0.5%;
        margin-left: 0.5%;
        margin-right:0;
        border-bottom: 2px solid #951f20; /* Solid vertical line on the left */
        padding-bottom: 0.5%; /* Spacing between the line and the text */
      }

      .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        margin-right: 0;
        margin-bottom: 5%;
      }

      .education-list {
        display: flex;
        font-size: 20px;
        flex-direction: column; /* Aligns the education items in a column */
        justify-content: flex-start; /* Aligns items to the start of the flex direction */
        max-width: 90%; /* Adjust based on your layout needs */
        margin-bottom: 0;

}